.footer {
  padding: 40px 20px;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &-item {
      font-size: 12px;
      color: #979797;
      line-height: 2.5;
    }

    &-item:not(:last-child) {
      margin-right: 40px;
    }

    &-link {
      color: #fff;
    }

    &-link:hover {
      color: #979797;
    }
  }
}

// responsive 
@include tablet-desktop {
  .footer {
    padding: 30px 20px;

    &__content {

      &-item:not(:last-child) {
        margin-right: 10px;
      }

      &-item:first-child {
        width: 100%;
        text-align: center;
        margin: 0;
      }
    }
  }
}