.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;

  &__inner {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .logo {
    width: 210px;
    height: auto;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.nav {
  margin: 0 auto;

  &-item:not(:last-child) {
    margin-right: 24px;
  }
  &-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-link {
    position: relative;
    padding-bottom: 3px;
    font-weight: bold;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: #fff;
      transform: scaleX(0);
      transform-origin: right center;
      transition: transform .3s cubic-bezier(0.215, 0.610, 0.355, 1);
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: left center;
    }
  }
}

.header__shop {
  position: relative;
  padding-bottom: 3px;
  margin-right: 75px;
  font-weight: bold;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform .3s cubic-bezier(0.215, 0.610, 0.355, 1);
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: left center;
  }
}

// responsive

@include tablet-desktop {
  .nav, .header__shop {
    display: none;
  }

  .header__inner {
    justify-content: center;
  }

  .header .logo {
    width: 150px;
  }
}