.stats {
  text-align: center;

  &__inner {
    display: flex;
    justify-content: center;
  }

  &__item {
    width: 30%;

    &-count {
      font-size: 125px;
    }

    &-text {
      font-size: 22px;
    }
  }
}

// responsive

@include tablet-landscape {
  .stats {
    &__inner {
      flex-wrap: wrap;
    }

    &__item {
      width: 40%;

      &-count {
        font-size: 114px;
      }

      &-text {
        font-size: 16px;
      }
    }
  }
}

@include phone {
  .stats {
    &__item {
      width: 100%;
    }
  }
}