.section__falcon {
  &-inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    z-index: 4;
  }

  &-title {
    font-size: 100px;
    font-weight: bold;
    animation: fadeInUp .7s cubic-bezier(0.215, 0.610, 0.355, 1);
    animation-fill-mode: both;
  }

  &-desc {
    font-size: 20px;
    animation: fadeInUp .7s .1s cubic-bezier(0.215, 0.610, 0.355, 1);
    animation-fill-mode: both;
  }
}

// responsive
@include tablet-portrait {
  .section__falcon {
    &-title {
      font-size: 80px;
    }

    &-desc {
      font-size: 16px;
    }
  }
}

@include phone {
  .section__falcon {
    &-title {
      font-size: 60px;
    }

    &-desc {
      font-size: 12px;
    }
  }
}